
body{
    background-color: #ffffff;
    color: #000000;
}


/*style pour changer le theme*/
.dark-mode{
    background-color: #222222;
    color: #ffffff;
}
.dark-mode header, .dark-mode footer {
    background-color: #333333;
    color: #ffffff;
}


